@import "tailwindcss";
@import '././assets/fonts/foundersGrotesk.css';
@config '../tailwind.config.js';

html, body, #root {
  height: 100%;
} 


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.font-format-Helvetica-Neue {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.swiper {
  scroll-snap-type: x mandatory;
}
.swiper-slide {
  scroll-snap-align: start;
}

.blog-article {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.condition-article {
   color: rgb(51, 51, 51);
   font-size: 18px;
   line-height: 180%;
}


.blog-article p, .condition-article p{
  margin-bottom: 20px;
}

.blog-article h3{
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
}

.condition-article h3{
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.blog-article ul, .condition-article ul{
  list-style-type: disc;
  margin: 0px 10px 20px 20px;
}

.condition-article ol{
  list-style-type:decimal;
  margin: 0px 10px 20px 20px;
}

.blog-article ul li, .condition-article ul li, .condition-article ol li, .condition-article ol li strong{
  margin-bottom: 10px;
}